#general
django >3.2,<3.3
python-decouple
pillow
djangorestframework

# 3rd party
drf-yasg[validation]
markdown
django-filter

# deploy
gunicorn
# email
django-mail-templated
djangorestframework-simplejwt

# reformatting and test
black
flake8
pytest
pytest-django
Faker

# background
celery
redis
django-redis